/* MOBILE 
   ============================ */
.header {
  border-bottom: 1px solid #f2f4f7;
  background: #f7f7f7;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 72px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.nav {
  display: flex;
  gap: 16px;
}

.link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #353535;
}

.active {
  color: #d84343;
}

/* ============================
   TABLET (>=768px)
   ============================ */
@media screen and (min-width: 768px) {
  .nav {
    gap: 24px;
  }

  .logo {
    margin-right: 450px;
  }
}

/* ============================
   DESKTOP (>=1440px)
   ============================ */
@media screen and (min-width: 1440px) {
  .logo {
    margin-right: 450px;
  }

  .nav {
    gap: 32px;
  }
}
