.hero {
  position: relative;
  width: 100%;
  min-height: 420px;

  background-image: url("/images/hero-desk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.content {
  position: absolute;
  top: 180px;
  left: 20px;
  width: 100%;
  max-width: 335px;

  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
  color: #f7f7f7;

  margin-bottom: 16px;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3333;
  color: #f7f7f7;

  margin-bottom: 40px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 200px;
  /* padding: 16px 60px; */
  width: 173px;
  height: 56px;
  background-color: #e44848;
  color: #ffffff;

  font-family: "Inter", "Segoe UI",
    sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.button:hover,
.button:focus-visible {
  background-color: #d84343;
}

/* ==== TABLET ≥768px ==== */

@media (min-width: 768px) {
  .hero {
    min-height: 520px;
  }

  .content {
    top: 220px;
    left: 32px;
    max-width: 480px;
  }

  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 18px;
  }
}

/* ==== DESKTOP ≥1440px ==== */

@media (min-width: 1440px) {
  .hero {
    height: 696px;
  }

  .content {
    top: 260px;   
    left: 64px;   
    width: 571px; 
    max-width: 571px;
  }

  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 24px;
  }
}
