/* MOBILE (base) */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/* ≥ 375px */
@media screen and (min-width: 375px) {
  .container {
    padding: 0 20px;
  }
}

/* ≥ 768px (tablet) */
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

/* ≥ 1440px (desktop) */
@media screen and (min-width: 1440px) {
  .container {
    width: 100%;
    padding: 0 64px;
  }
}
