.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(16, 24, 40, 0.1), 0 1px 2px rgba(16, 24, 40, 0.06);
}

.imageWrapper {
  position: relative;
  flex: 0 0 290px; /* як на макеті */
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3333;
  color: #101828;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3333;
  color: #101828;
}

.location {
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.footer {
  margin-top: auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 40px;
  border-radius: 200px;
  border: none;
  background-color: #e44848;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #d84343;
}
